.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
dist/addons/apple_sign_in/ios/
dist/addons/apple_sign_in/macos/
demo/addons/
